<section>
  <alphabetical-letter></alphabetical-letter>
  <alphabetical-list>      
    <!-- Recorre tu lista -->
      <ul id="plant-list">
        <ng-container
          *ngFor="let item of plantList | groupByFirstLetter | keyvalue">
          <li
          [attr.letter-list]="item.key"
            [ngClass]="{ 'height-0': !item.value.length }"
          >{{ item.key }}
            <ul>
              <ng-container *ngFor="let plant of item.value">
                <li>
                  Esta es la planta: {{ plant.name }}
                </li>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
    </alphabetical-list>
</section>
      